<div class="f-post">
<%=link_to "/posts/#{favorite.post.id}" do %>
  <% if favorite.post.image.attached? %>
    <div class="post-picture"><%= image_tag favorite.post.image %></div>
  <% else %>
    <div class="post-picture"></div>
  <% end %>
  <ul class="post-items">
    <li>
      <p class="post-category">投稿者：</p>
      <p class="post-category-value"><%=favorite.post.user.nickname%></p>
    </li>
    <li>
      <p class="post-category">メニュー：</p>
      <p class="post-category-value"><%=favorite.post.menu%></p>
    </li>
    <li>
      <p class="post-category">店名：
      <p class="post-category-value"><%=favorite.post.store%></p>
    </li>
    <li>
      <p class="post-category">値段：
      <p class="post-category-value"> ¥ <%=favorite.post.price%></p>
    </li>
    <li>
      <p class="post-category">ジャンル：
      <p class="post-category-value"><%=favorite.post.genre.name%></p>
    </li>
    <li>
      <p class="post-category">都道府県：
      <p class="post-category-value"><%=favorite.post.prefecture.name%></p>
    </li>
    <li>
      <p class="post-category">ひとコト：
      <p id="word" class="post-category-value"><%=favorite.post.word%></p>
    </li>
  </ul>
<% end %>
</div>