
<%= render 'shared/header_two' %>

<section class="container post-new">
  <div class="container-title">
    <h1>ログインページ</h1>
    <%= link_to '戻る', top_posts_path, class: "form-btn-back" %>
  </div>
  <article class="container-form">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      
      <div class="form-box">
        <h5>メールアドレス<span class="caution mandatory">必須</span></h5>
        <%= f.email_field :email %>
      </div>
      <div class="form-box">
        <h5>パスワード<span class="caution mandatory">必須</h5>
        <%= f.password_field :password, autocomplete: "new-password", placeholder: "半角英数字８文字以上で入力してください" %>
      </div>
      <div class="form-submit">
        <%= f.submit "ログイン" %>
      </div>
    <% end %>
  </article>
</section>

<%= render "users/shared/links" %>
