<%= render 'shared/responsive_header_main' %>

<div class="res modal-wrapper" id="modal-menus-show">
  <nav class="res modal-menus">
    <p class="res modal-menu"><span><%= user.nickname %>さんのマイページ</span></p>
    <%= link_to 'マイページに戻る', "/person/#{params[:person_id]}", class: "res modal-menu" %>
    <%= link_to '新規投稿', new_post_path, class: "res modal-menu" %>
    <%= link_to '投稿一覧', root_path, class: "res modal-menu" %>
    <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "res modal-menu" %>
  </nav>
</div>