<%= render 'shared/header' %>

<section class="picture-section">
  <img src="/images/ラーメン画像２.jpg">
</section>
<section class="container post-table">
  <div class="post-search-group">
    <h2>キーワード（店名・値段・ジャンル・都道府県別）検索</h2>
    <%= form_with url: search_posts_path, method: :get, class: "post-search-tables", local: true do |form| %>
      <%= render partial: 'posts/search_form', locals: { form: form } %>
    <% end %>
  </div>
  <div class="post-conditions">
    <div class="post-condition post-background" id="new-order">
      <div class="f-icon">
        <i class="far fa-calendar-alt"></i>
      </div>
      <p>最新投稿順</p>
    </div>
    <div class="post-condition" id="price-order">
      <div class="f-icon">
        <i class="fas fa-yen-sign"></i>
      </div>
      <p>値段順</p>
    </div>
  </div>
  <div class="post-group">
    <h1>投稿一覧</h1>
    <%= link_to '新規投稿', new_post_path, class: "post-btn" %>
  </div>
  <article id="new-order-lists">
    <h2>最新投稿順</h2>
    <div class="table-container">
      <% @posts_created_at.each do |post| %>
        <%= render partial: 'posts/index_posts', locals: { post: post } %>
      <% end %>
      <%= paginate @posts_created_at %>
    </div>
  </article>
  <article id="price-order-lists">
    <h2>値段順</h2>
    <div class="table-container">
      <% @posts_price.each do |post| %>
        <%= render partial: 'posts/index_posts', locals: { post: post } %>
      <% end %> 
      <%= paginate @posts_price %>
    </div>
  </article>
</section>

<%= render 'shared/footer' %>