<%= render 'shared/header' %>

<section class="picture-section">
  <img src="/images/ラーメン画像２.jpg">
</section>
<section class="container post-table">
  <div class="post-search-group">
    <div class="post-search-tables">
      <div class="post-search-table category-group">
        <select name="search-category" id="search-category-form" class="search-category">
          <option value="1">キーワード検索</option>
          <option value="2">値段</option>
          <option value="3">ジャンル</option>
          <option value="4">都道府県</option>
        </select>
      </div>
      <div class="post-search-table input-group">
        <input type="text" name="search-input" class="search-input" id="search-category-keyword" placeholder="キーワードを入力してください（例：大盛り）" >
        <select name="search-category" class="search-category search-status-none" id="search-category-price">
          <option value="">選択してください</option>
          <option value="1">1000円以上</option>
          <option value="2">1000円未満</option>
        </select>
      </div>
      <div class="post-search-table search-bar-group">
        <a href="#">検索</a>
      </div>
    </div>
  </div>
  <div class="post-conditions">
    <div class="post-condition post-background" id="new-order">
      <div class="f-icon">
        <i class="far fa-calendar-alt"></i>
      </div>
      <p>最新投稿順</p>
    </div>
    <div class="post-condition" id="price-order">
      <div class="f-icon">
        <i class="fas fa-yen-sign"></i>
      </div>
      <p>値段順</p>
    </div>
  </div>
  <div class="post-group">
    <h1>投稿一覧</h1>
    <%= link_to '新規投稿', new_post_path, class: "post-btn" %>
  </div>
  <article id="new-order-lists">
    <h2>最新投稿順</h2>
    <div class="table-container">
      <% @posts_created_at.each do |post| %>
        <%= render partial: 'posts/index_posts', locals: { post: post } %>
      <% end %>
      <%= paginate @posts_created_at %>
    </div>
  </article>
  <article id="price-order-lists">
    <h2>値段順</h2>
    <div class="table-container">
      <% @posts_price.each do |post| %>
        <%= render partial: 'posts/index_posts', locals: { post: post } %>
      <% end %>
    </div>
  </article>
</section>