<%= render 'shared/header' %>

<section class="picture-section">
  <img src="/images/ラーメン画像２.jpg">
</section>

<section class="container post-table">
  <div class="post-group">
    <h1>投稿一覧</h1>
    <%= link_to '新規投稿', new_post_path, class: "profile-btn" %>
  </div>
  <article>
    <h2>最新投稿順</h2>
    <div class="table-container">
      <% @posts_created_at.each do |post| %>
        <div class="l-post">
          <h3 class="post-name"><a href="#"><%=post.user.nickname%></a></h3>
          <%=link_to "/posts/#{post.id}" do %>
            <% if post.image.attached? %>
              <div class="post-picture"><%= image_tag post.image %></div>
            <% else %>
              <div class="post-picture"></div>
            <% end %>
            <ul class="post-items">
              <li>メニュー：<span><%=post.menu%></span></li>
              <li>店名：<span><%=post.store%><span></li>
              <li>値段：<span> ¥ <%=post.price%></span></li>
              <li>ジャンル：<span><%=post.genre.name%></span></li>
              <li>ひとコト：<span id="word"><%=post.word%></span></li>
            </ul>
          <% end %>
        </div>
      <% end %>
    </div>
  </article>
  <article>
    <h2>値段順</h2>
    <div class="table-container">
      <% @posts_price.each do |post| %>
        <div class="l-post">
          <h3 class="post-name"><a href="#"><%=post.user.nickname%></a></h3>
          <%=link_to "/posts/#{post.id}" do %>
            <% if post.image.attached? %>
              <div class="post-picture"><%= image_tag post.image %></div>
            <% else %>
              <div class="post-picture"></div>
            <% end %>
            <ul class="post-items">
              <li>メニュー：<span><%=post.menu%></span></li>
              <li>店名：<span><%=post.store%><span></li>
              <li>値段：<span> ¥ <%=post.price%></span></li>
              <li>ジャンル：<span><%=post.genre.name%></span></li>
              <li>ひとコト：<span  id="word"><%=post.word%></span></li>
            </ul>
          <% end %>
        </div>
      <% end %>
    </div>
  </article>
</section>