
<%= render 'shared/header_two' %>

<section class="container post-new">
  <h1>新規登録ページ</h1>
  <article class="container-form">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      
      <div class="form-box">
        <h5>ニックネーム<span class="caution mandatory">必須</span></h5>
        <%= f.text_field :nickname, autofocus: true, placeholder: "半角英数字で入力してください" %>
      </div>
      <div class="form-box">
        <h5>メールアドレス<span class="caution mandatory">必須</span></h5>
        <%= f.email_field :email %>
      </div>
      <div class="form-box">
        <h5>パスワード<span class="caution mandatory">必須</h5>
        <%= f.password_field :password, autocomplete: "new-password", placeholder: "半角英数字８文字以上（大文字含む）で入力してください" %>
      </div>
      <div class="form-box">
        <h5>パスワード確認用<span class="caution mandatory">必須</span></h5>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "パスワードをもう一度入力してください" %>
      </div>
      <div class="form-box">
        <h5>現住所<span class="caution any">任意</span></h5>
        <%= select_tag(:prefecture, options_for_select([['選択してください', 0], ['北海道', 1], ['青森県', 2]])) %>
      </div>
      <div class="form-submit">
        <%= f.submit "新規登録" %>
      </div>
      <div class="form-btn">
        <%=link_to '戻る', top_posts_path, class: "form-btn-back" %>
      </div>
    <% end %>
  </article>
</section>

<%= render "users/shared/links" %>
